<div class="outer-green">

<div class="form">
    <div class="child"><input class="input" placeholder="Task Name" type="text" [(ngModel)]="taskName" /></div>
    <div class="child"><input class="input sel" placeholder="Due Date" type="date" [(ngModel)]="dueDate" /></div>
    <div class="flex">    
        <div class="child1"><input class="input1" placeholder="Story Point" type="number" [(ngModel)]="storyPoint" /></div>
        <!-- <div class="child1"><input class="input1" placeholder="Priority" type="text"/></div> -->
        <div class="child1">
            <select class="input1 sel" placeholder="Priority" [(ngModel)]="priority" >
                <option value="" disabled selected>Select Priority</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select>
        </div>
    </div>

    <div (click)="onSubmit()" class="submit">Submit</div>

</div>
</div>
